<h3>Listing Images</h3>


<% @paperclip_images.each do |paperclip_image| %>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<p class="paperclip-images">
			    <%= link_to image_tag(paperclip_image.asset.url(:thumb), class: "img-thumbnail"), paperclip_image %>
			</p>
		</div>
	
		<div class="col-sm-6">
			<p class="paperclip-images-icons">
			    <%= link_to image_tag("edit.png", alt: "Reupload Image", title: "Reupload Image"), edit_paperclip_image_path(paperclip_image) %>
				<%= link_to image_tag("delete.png", alt: "Delete Image", title: "Delete Image"), paperclip_image, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		</div>
	</div>
	<hr>
<% end %>

<div class="col-sm-12">
	<%= link_to 'Upload New Image', new_paperclip_image_path %> |
	<%= link_to 'Back', authenticated_root_path %>
</div>