<%= form_for(@todo_list) do |f| %>
	<% if @todo_list.errors.any? %>
	    <div id="error_explanation">
			<h4><%= pluralize(@todo_list.errors.count, "error") %> prohibited this to do list from being saved:</h4>

		      <ul>
			      <% @todo_list.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			  </ul>
	    </div>
	<% end %>

	<div class="form-group">
	    <%= f.label :title %> 
	    <%= f.text_field :title, class: "form-control form-field-width" %>
	</div>
  
	<div class="form-group">
	    <%= f.label :description %>
		<%= f.text_area :description, class: "form-control form-field-width" %>
	</div>
  
	<div class="form-group">
	    <%= f.submit class: "btn btn-default", id: "btn-submit" %>
	</div>
<% end %>

<div class="col-sm-12">
	<%= link_to 'Back', authenticated_root_path %>
</div>