<div class="col-sm-12">
	<h3>To Do Lists</h3>

	<ul class="todo_lists">
		<% @todo_lists.each do |todo_list| %>
			<li id="<%= dom_id(todo_list) %>">
				Title: <%= todo_list.title %>
				<br />
				Description: <%= todo_list.description %>
				<br />
				<p class="menu">
					<%= link_to "List Items", todo_list_todo_items_path(todo_list) %> |
				    <%= link_to 'Edit', edit_todo_list_path(todo_list) %> |
				    <%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
				<hr>
			</li>
	    <% end %>
	</ul>
	
	<div class="col-sm-12">	
		<%= link_to 'New To Do List', new_todo_list_path %> 
	</div>
</div>