<body class="container-fluid">
	<div class="col-sm-12">
		<h1>To Do</h1>
		<div class="col-sm-3">
			<h5>Title</h5>
		</div>
		
		<div class="col-sm-3" id="description">
			<h5>Description</h5>
		</div>
		
		<div class="col-sm-offset-6">
			</br>
			</br>
		</div>
		
		<% @todo_lists.each do |todo_list| %>
		<div id="<%= dom_id(todo_list) %>">
			<div class="col-sm-3">
				<%= todo_list.title %>
			</div>
		
			<div class="col-sm-3">
				<%= todo_list.description %>
			</div>
		
			<div class="col-sm-6">
				<%= link_to "List Items", todo_list_todo_items_path(todo_list) %> |
				<%= link_to 'Show', todo_list %> |
			    <%= link_to 'Edit', edit_todo_list_path(todo_list) %> |
			    <%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
	    <% end %>
	</div>
</br>
</br>
<%= link_to 'New To Do List', new_todo_list_path %>
</body>