<div class="col-sm-6">
	<h3>To Do Lists</h3>
	
	<% @todo_lists.each do |todo_list| %>
		<div class="todo-list">
			<div class="todo-list" "hover" id="<%= dom_id(todo_list) %>">
				Title: <%= todo_list.title %>
				<br />
				Description: <%= todo_list.description %>

				<p class="todo-lists-icons">
					<%= link_to image_tag("list.png", alt: "List Items", title: "List Items"), todo_list_todo_items_path(todo_list) %>
					<span class="admin-todo-list">
						<%= link_to image_tag("edit.png", alt: "Edit To Do List", title: "Edit To Do List"), edit_todo_list_path(todo_list) %>
				    <%= link_to image_tag("delete.png", alt: "Delete To Do List", title: "Delete To Do List"), todo_list, method: :delete, data: { confirm: "Are you sure?" } %>
					</span>
				</p>
				<hr>
			</div>
		</div>	
    <% end %>


	<p>
		<%= link_to "New To Do List", new_todo_list_path %>
	</p>
</div>

<div class="col-sm-6">
	<h3> Latest Prototype </h3>
	<% if @paperclip_image.nil? %>
		<h4>no prototypes available</h4>
		<div class="col-sm-12">
			<p class="paperclip-images-icons ">
				<%= link_to image_tag("add.png", alt: "Upload Image", title: "Upload"), new_paperclip_image_path %>
			</p>

	<% else %>
		<%= link_to image_tag(@paperclip_image.asset.url(:medium), class: "img-thumbnail"), @paperclip_image.asset.url %>

		<div class="col-sm-12">
			<p class="paperclip-images-icons ">
				<%= link_to image_tag("edit.png", alt: "Reupload Image", title: "Reupload Image"), edit_paperclip_image_path(@paperclip_image) %>
				<%= link_to image_tag("list.png", alt: "See All Images", title: "See All Images"), paperclip_images_path %>
			</p>
		</div>
	<% end %>
</div>
