<!DOCTYPE html>
<html>
	<head>
		<title>the fletching manufactory project management area</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
		<link rel="apple-touch-icon" type="image/x-icon" href="/assets/favicon_lg.png">
	</head>

	<body class="container-fluid">
		<div id="login">
			<% if current_user %>
		    	Logged in as <%= current_user.email %>.
		    	<%= link_to "Log out.", logout_path %>
			<% else %>
				You are not logged in.
		  	<% end %>
		</div>
		
		<!-- Logo and header -->
		<div class="col-sm-12">
			<%= link_to image_tag("logo.png", id: "logo", alt: "the fletching manufactory logo", title: "the fletching manufactory logo"), authenticated_root_path %>

			<h5>
				- smart web design + development for the aesthetically inclined -
			</h5>
		</div>

		<div class="col-sm-12">
			<% flash.each do |type, message| %>
				<div class="alert flash <%= type %>">
					<%= message %>
				</div>
			<% end %>
			
			<%= yield %>
		</div>
			
		<div class="col-sm-12">
			<footer>
				&copy; 2014 Alissa Aungvibool
			</footer>
		</div>

	</body>
</html>
